<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    
</head>
<body>
    <header class="box">
        <h1 class="box light">Travel App</h1>
    </header>

    <main>
        <section class="content">
            <form class="form content" onsubmit="return Client.handleSubmit(event)" method="post" action="/form" target="_blank">
                <input type="text" name="departure" id="departure" placeholder="departure" required>
                <input type="text" name="destination" id="destination" placeholder="destination" required>
                <input type="date" name="date" id="date">
                <input type="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)" value="Submit" required>
            </form>
        </section>

        

        <section class="trips content">
            <article class="trip content">
                <h3 class="dark">TRIP</h3>
                <h3 class="dark">Trip to..</h3>
                <p class="dark">details about the trip: days left, flight price, weather, risk and so on</p>
                <figure>
                    <img src="http://placecorgi.com/250" alt="image">
                    <figcaption>trip photo</figcaption>
                </figure>
            </article>
            <article class="trip content">
                <h3 class="dark">TRIP</h3>
                <h3 class="dark">Trip to..</h3>
                <p class="dark">details about the trip: days left, flight price, weather, risk and so on</p>
                <figure>
                    <img src="http://placecorgi.com/250" alt="image">
                    <figcaption>trip photo</figcaption>
                </figure>
            </article>
            <article class="trip content">
                <h3 class="dark">TRIP</h3>
                <h3 class="dark">Trip to..</h3>
                <p class="dark">details about the trip: days left, flight price, weather, risk and so on</p>
                <figure>
                    <img src="http://placecorgi.com/250" alt="image">
                    <figcaption>trip photo</figcaption>
                </figure>
            </article>
        </section>
    </main>

    <footer class="box">
        <h1 class="box light">© Candid</h1>
    </footer>
    
</body>
</html>