// variables
$dark-color: #003049;
$light-color: #fcbf49;
$border-color: #eae2b7;
$extra-color: #00304975;
$highlight-color: #f77f00;
$main-font: "Armata", sans-serif;

/* BODY Styles */
body {
    // border: 1px red solid;

    font-family: $main-font;
    font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    background-color: $light-color;
    // display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: auto;
    // grid-template-areas: "hd" "main" "ft";

    .dark {
        color: #003049;
        text-align: center;
    }

    .light {
        color: #fcbf49;
        text-decoration: none;
    }

    /* HEADER */
    header {
        background-color: #003049;
        grid-area: hd;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        * {
            font-size: 1.5rem;
        }
    }

    // FORM
    .form {
        width: 70vw;
        border: $dark-color 5px solid;
        border-radius: 30px;
        margin: 0.5em auto;

        input {
            padding: 0.5em 0.5em;
            margin: 0.5em auto;
            border: $dark-color 3px solid;
            border-radius: 30px;
            width: 50vw;
            margin: 0.5em 0;
        }
    }

    .content {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        article {
            width: 80vw;
            border: $dark-color 5px solid;
            border-radius: 30px;
            margin: 0.5em auto;

            img {
                width: 50vw;
            }
        }
    }

    // TRIP
    .trip {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    footer {
        background-color: #003049;
        grid-area: ft;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin: 1vh;
        }
    }
}
