/* CONTENT */
.content {
    background-color: #fcbf49;
    border-radius: 50px;
    margin: 1%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogposts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.blogpost {
    background-color: #eae2b7;
    border: 5px #eae2b7 solid;
    border-radius: 30px;
    margin: 1vh auto;
    margin-bottom: 3vh;
    box-shadow: 10px 10px 5px 0px #00304975;
    width: 50vh;
    max-width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.blogpost:hover {
    border: #f77f00 5px solid;
}

.content h1 {
    padding: 1vh;
    border: 5px #f77f00 solid;
    border-radius: 90px;
    background-color: #f77f00;
}

.content h3 {
    font-weight: bold;
    text-align: center;
}

.content img {
    border: 5px #eae2b7 solid;
    max-width: 80%;
    max-height: 70%;
    border-radius: 50px;
}

.content * {
    font-size: 1.5rem;
}

.button {
    color: #d62828;
    background-color: #f77f00;
    /* font-size: 2em; */
    font-weight: bold;
    text-decoration: none;
    padding: 1vh 3vh;
    border-radius: 1vh 6vh;
    border: solid;
}

.button:hover {
    background-color: #d62828;
    color: #fcbf49;
}

.button:active {
    background-color: #003049;
}
