/* HEADER */
header {
    background-color: #003049;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
}

header * {
    margin: 1vh;
}
