/* IMPORT */
@import 'style-header.css';
@import 'style-sidebar.css';
@import 'style-content.css';
@import 'style-footer.css';

/* MAIN SETTINGS */
body {
    font-family: 'Armata', sans-serif;
    font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    background-color: #003049;
    display: grid;
    grid-template-columns: 30vh repeat(3, 1fr);
    grid-template-rows: minmax(auto, 15vh) minmax(4fr, auto) minmax(auto, 15vh);
    grid-template-areas: "hd hd hd hd" "sd main main main" "ft ft ft ft";
}

.dark {
    color: #003049;
    text-align: center;
}

.light {
    color: #fcbf49;
    text-decoration: none;
}

/* MEDIA */
@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15vh minmax(30vh, auto) 4fr 15vh;
        grid-template-areas: "hd" "sd" "main" "ft";
    }

    .content * {
        width: 90%;
        font-size: 1.5rem;
    }

    .content h3 a {
        font-size: 1rem;
    }

    .sidebar {
        font-size: 1rem;
    }

    header {
        justify-content: center;
    }

    .blogposts {
        flex-direction: column;
        justify-content: center;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    .content * {
        font-size: 0.8rem;
    }
    .sidebar * {
        font-size: 0.6rem;
    }
}
